.title-center{
    text-align: center;
    font-weight: bolder;
}

.clients-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clients-filter {
  position: relative;
  width: 90%;
  max-width: 500px;
  margin-top: 10px;
}

.clients-search {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  height: 45px;
  width: 100%;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  padding-right: 40px; 
  box-sizing: border-box;
}

.clients-search::placeholder {
  color: white;
}

.clients-search:focus {
  outline: none;
  border: none;
  box-shadow: none; 
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  pointer-events: none; 
}

.buttons-filter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  max-width: 500px;
  margin-top: 10px;
}

.button-filter{
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  font-size: 11px;
  width: 55px;
  padding: 8px;
}

.button-filter:focus{
  background-color: rgba(255, 255, 255, 0.5);

}

.client-content{
  background-color: rgba(255, 255, 255, 0.2);
  width: 90%;
  height: 95px;
  max-width: 500px;
  border-radius: 10px;
  padding: 10px;
  padding-top: 0;
  margin-top: 10px;
}

.client-title{
  margin-bottom: 0px;
  font-weight: 800;
  font-size: 16px;
}

.client-text{
  margin-top: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  font-size: 16px;

}

.client-text span {
  color: white;
}

.client-status{
  color: white;
  font-size: 14px;

}

.active {
  background-color: #04B904; /* verde claro */
  color: white;
  width: 70px;
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  font-size: 14px;

}

.inactive {
  background-color: #B90404; /* rojo claro */
  color: white;
  border-radius: 10px;
  width: 70px;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 14px;

}

.soon-status {
  background-color: orange;
  color: white;
  border-radius: 10px;
  width: 70px;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 5px;
  font-size: 14px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7); /* fondo negro con transparencia */
  z-index: 999; /* menor que el modal pero mayor que el resto */
}

.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 25vh;
  width: 90%;
  border-radius: 10px;
  z-index: 1000;

}

.custom-modal-large {
  height: 50vh; /* o el tamaño que necesites */
}

.modal-title{
  text-align: center;
  margin-bottom: 20px;
}

.modal-data{
  text-align: left;
  margin-bottom: 10px;
}

.modal-input{
  width: 100%;
  background-color: white;
  color: #7F00B2;
  height: 40px;
  padding-left: 10px;
  border-radius: 10px;
  border: none;
}

.update-button{
  background-color: #7F00B2;
  width: 100%;
  border-radius: 10px;
  color: white;
  height: 40px;
  text-transform: none;
}

.close-button{
  background-color: white;
  width: 100%;
  border-radius: 10px;
  color: #7F00B2;
  height: 40px;
  text-transform: none;

}

.modal-content-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%; /* llenar todo el ion-content */
  width: 100%;
  text-align: center;
}