<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title-center">
      <h2>ZONA FIT</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="clients-container">
      <div class="clients-filter">
        <input type="text" class="clients-search" placeholder="Buscar cliente" [(ngModel)]="searchTerm" (input)="filterClients()">
        <img src="assets/icons/search-icon.png" alt="Icono de buscar" class="search-icon">
      </div>
      <div class="buttons-filter">
        <button class="button-filter" (click)="selectedFilter = 'todos'; filterClients()">Todos</button>
        <button class="button-filter" (click)="selectedFilter = 'activo'; filterClients()">Activo</button>
        <button class="button-filter" (click)="selectedFilter = 'inactivo'; filterClients()">Inactivo</button>
        <button class="button-filter" (click)="selectedFilter = 'pronto'; filterClients()">Pronto</button>
        <button class="button-filter" (click)="selectedFilter = 'mes'; filterClients()">Mes</button>
      </div>



      <div *ngFor="let client of filteredClients" class="client-content">
        <h4 class="client-title">{{ client.name }}</h4>
          <div class="client-text">
            <span><b>Fin del paquete:</b> {{ client.end_date | date }}</span>
            <div>
              <span [ngClass]="isClientActive(client.end_date) ? 'active' : 'inactive'" class="client-status">
                {{ isClientActive(client.end_date) ? 'Activo' : 'Inactivo' }}
              </span>
              <span *ngIf="isExpiringSoon(client.end_date)" class="soon-status">
                Pronto
              </span>
            </div> 
            
          </div>
      </div>
    </div>
  </div>
</ion-content>
