// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

* {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
}

:root {
   // --ion-color-primary: #7F00B2; 
    //--ion-color-secondary: #8611B7; 
    //--ion-color-tertiary: #AB49CC; 
    --ion-background-gradient: linear-gradient(to bottom, #7F00B2, #8611B7, #AB49CC);
    
  }
  
  ion-content {
    --background: var(--ion-background-gradient);
  }

  ion-button {
    --border-radius: 10px;
  }

  ion-item {
    height: 40px;
  }

  ion-input{
    height: 30px;
  }

  ion-toolbar{
    --background: #690093;
  }

  ion-tabs {
   display: flex;
    justify-content: center; 
  }

  ion-tab-bar {
    --background: rgba(255, 255, 255, 0.2);
    margin: 0 auto 16px auto; 
    border-radius: 10px;
    height: 50px;
    max-width: 500px;
    width: 90%; 
    border: none;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

.custom-tab-bar ion-tab-button {
  flex: 1;
  max-width: 50%;
  margin: 0;
}

ion-tab-button.tab-selected {
  --background: rgba(255, 255, 255, 0.4);
}