<ion-content class="content">
  <div class="input-container">
    <div class="input-content">
      <label for="">Nombre completo</label>
      <input type="text" [(ngModel)]="client.name">
    </div>
  
    <div class="input-content">
      <label for="">Inicia</label>
      <input type="date" [(ngModel)]="client.start_date">
    </div>
  
    <div class="input-content">
      <label for="">Termina</label>
      <input type="date" [(ngModel)]="client.end_date">
    </div>
    
    <div class="input-content">
      <label for="">Selecciona plan</label>
      <input type="text" [(ngModel)]="client.package">
    </div>
  </div>
    
  
    <div class="button-container">
      <ion-button class="confirm-button" (click)="saveClient()">Confirmar usuario</ion-button>
      <ion-button class="cancel-button" (click)="dismiss()">Cancelar</ion-button>
    </div>
</ion-content>

    
