<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title-center">
      <h2>ZONA FIT</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="showAddClientModal" class="modal-backdrop"></div>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="title-center">
        <h2>ZONA FIT</h2>
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="content" id="container">

    <div class="sales">
      <div class="sales-titles">
        <h3>Ingresos - Septiembre 2024</h3>
        <h4>$2220</h4>
      </div>
      <img src="assets/icons/sales-icon.png" alt="Icono de ventas" class="sales-icon">
    </div>

    <div class="calendar">
      <ion-datetime
        mode="md"
        presentation="date"
        [value]="currentDate"
        (ionChange)="onDateChange($event)"
        class="calendar-datetime">
      </ion-datetime>
    </div>

    <ion-button fill="clear" class="add-user-button" (click)="openAddClientModal()">
      <div class="add-user-content">
        <span class="add-user-text">Agregar persona</span>
        <img class="add-user-icon" src="assets/icons/add-user-icon.png" alt="Icono de calendario">
      </div>
    </ion-button>

    <div class="reminder">
      <textarea name="reminder" id="reminder" class="reminder-textarea" placeholder="Recordatorios"></textarea>
    </div>
  </div>

  <div *ngIf="showAddClientModal" class="modal-backdrop"></div>

<ion-modal [isOpen]="showAddClientModal" (didDismiss)="closeAddClientModal()" [class.custom-modal]="true">
  <ng-template>
    <ion-content class="ion-padding">
      <div class="modal-content-centered">
        <h2 class="modal-title">Agregar nuevo cliente</h2>

        <div class="modal-data">
          <span>Nombre:</span>
          <input type="text" class="modal-input" [(ngModel)]="newClient.name" placeholder="Nombre del cliente">
        </div>

        <div class="modal-data">
          <span>Fecha de inicio:</span>
          <input type="date" class="modal-input" [(ngModel)]="newClient.start_date">
        </div>

        <div class="modal-data">
          <span>Fecha de fin:</span>
          <input type="date" class="modal-input"  [(ngModel)]="newClient.end_date">
        </div>

        <div class="modal-data">
          <span>Tipo de plan:</span>
          <select class="modal-input" [(ngModel)]="newClient.package">
            <option value="" disabled>Selecciona una opción</option>
            <option value="mensual">Mensual</option>
            <option value="semanal">Semanal</option>
            <option value="visita">Visita</option>
          </select>
        </div>

        <ion-button fill="clear" size="small" (click)="saveNewClient()" class="update-button">
          <span>Guardar cliente</span>
        </ion-button>

        <ion-button fill="clear" size="small" class="close-button" (click)="closeAddClientModal()">
          <span>Cancelar</span>
        </ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

</ion-content>
